<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Current Datetime : <strong><%= localtime %></strong></p>
    <p>Current Datetime (UTC): <strong><%= utctime %></strong></p>
    <hr />
    <p>Remote Address: <i><%= remote_address %></i></p>
    <p>Remote System Information: <i><%= remote_sysinfo %></i></p>
  </body>
</html>
